{% extends 'base.html'%}

{%block title%} Create Category {%endblock title%}

{%block content%}
<main>
    <div>
        <h1>Create Category</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create</button>
        </form>
    </div>
</main>
{%endblock content%}
