{% extends 'base.html' %}

{%block title%} Login {%endblock title%}

{% block content %}
<main>
    <div>
        <h1> Login </h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{field.label}}
                {{field}}
            </p>
            {% endfor %}

            {% for error in form.non_field_errors %}
            <p style="color:red">{{error}}</p>
            {% endfor%}
            <button type="submit"> Login </button>
        </form>
    </div>
</main>
{% endblock content %}
